site_name: WZULTC - 越南學伴計畫
site_url: https://wzultc.org
site_description: WZULTC 越南學伴計畫官方網站
site_author: WZULTC

# Repository
repo_url: https://github.com/a4ltw/wzultc.org
repo_name: a4ltw/wzultc.org

# Theme configuration
theme:
  name: material
  language: zh-TW
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: 切換至深色模式
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: 切換至淺色模式
  font:
    text: Noto Sans TC
    code: Roboto Mono
  icon:
    repo: fontawesome/brands/github

# Extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables

# Plugins
plugins:
  - search:
      lang:
        - zh
        - en
  - blog:
      blog_dir: news
      blog_toc: true
      post_date_format: yyyy/MM/dd
      post_url_format: "{slug}"
      authors: true
      pagination_per_page: 10

# Navigation
nav:
  - 首頁: index.md
  - 消息動態:
      - news/index.md
  - 報名資訊:
      - 越南學伴招募: enroll/index.md

# Extra
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/a4ltw/wzultc.org
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
